@import 'resources/assets/sass/variables';

@mixin button($width, $height, $color){
    width: $width;
    height: $height;
    background-color: $color;
    color: $color-text-light;
    border-radius: 12px;
    margin: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    cursor: pointer;

    &:hover {
        background-color: lighten($color, 10%);
    }
    &:active {
        background-color: darken($color, 5%);
    }
}

@mixin form_window() {
    width: 440px;
    min-height: 100px;
    margin: 100px 0px;
    background-color: $color-list;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 220px);

}

@mixin form_title() {
    width: 100%;
    height: 44px;
    background-color: $color-theme;
    display: flex;
    align-items: center;

    h2 {
        font-size: 24px;
        margin-left: 16px;
    }
}

@mixin form_content() {
    width: 100%px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-dark;
    
    .el-input {
        width: 300px;
    }

    .el-form {
        margin-top: 20px;
    }

    .el-form-item {
        display:flex;
        justify-content: center;
    }

    button {
        margin-top: 20px;
        width: 240px;
    }
}

@mixin form_change() {
    width: 100%;
    text-align: right;
    

    a{
        text-decoration: underline;
        cursor: pointer;
        
        &:hover {
            color: lighten($color-text-dark, 50%);
        }
    }
    
}

@mixin sidebar_button_selected() {
    width: calc(100% - 23px);
    background-color: darken($color-background, 8%);
    padding: 1px 0 0 13px;
    box-shadow: 2px 2px 5px #000 inset;
    border-left: 10px solid $color-theme;
}

@mixin sidebar_button() {
    width: calc(100% - 12px);
    height: 48px;
    padding-left: 12px;
    border-bottom: 1px solid darken($color-background, 10%);
    display: flex;
    align-items: center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    transition-duration: .3s;

    p {
        padding-left: 4px;
    }

    &:hover {
        background-color: darken($color-background, 5%);
    }

    &:active {
        background-color: darken($color-background, 8%);
        box-shadow: 2px 2px 5px #000 inset;
        transition-duration: .1s;
    }
}